root = true

[*]
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

[*.{py,rst}]
indent_style = space
indent_size = 4

[*.{json,html,yaml,md,markdown,mdown}]
indent_style = space
indent_size = 2

[*.{css,less}]
indent_style = tab
indent_size = 2
