<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Site Title: Take Two</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png"> -->
  <!-- Place favicon.ico in the root directory -->

  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css"> -->
  <link rel="stylesheet" href="{{ relURL "/static/semantic/semantic.min.css" }}">
  <!-- <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css"> -->
</head>

<body style="padding-top:3em">
  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

  <div class="ui grid container">

    {{ block "header" . }}
      {{ partial "site-header.html" . }}
    {{ end }}

    {{ block "main" . }}{{ end }}
    <div class="ui divider"></div>
    {{ partial "site-footer.html" . }}
  </div>

  {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>
