<div class="row">
  {{ if .Next }}
  <div class="eight wide column">
    <div class="ui labeled button">
      <a class="ui labeled icon button" href="{{ .Next.Permalink }}">
        <i class="arrow left icon"></i> Previous
      </a>
      <a class="ui basic left pointing label" href="{{ .Next.Permalink }}">
        {{ .Next.Title }}
      </a>
    </div>
  </div>
  {{ end }}
  {{ if .Prev }}
  <div class="right aligned eight wide column">
    <div class="ui left labeled button">
      <a class="ui basic right pointing label" href="{{ .Prev.Permalink }}">
        {{ .Prev.Title }}
      </a>
      <a class="ui right labeled icon button">
        Next <i class="arrow right icon"></i>
      </a>
    </div>
  </div>
  {{ end }}
</div>
