<div class="row">
  <div class="sixteen wide column" id="site-header">
    <div class="ui equal width stackable grid">
      <h1 class="ui header left floated column">
        <i class="book icon"></i>
        <div class="content">{{ $.Site.Title }}
          <div class="sub header">{{ $.Site.Params.description | default "Set a description" }}</div>
        </div>
      </h1>
      <div class="ui right aligned column">
        <div class="ui compact tiny labeled icon menu">
          <a class="active item">
            <i class="talk icon"></i>
            Articles
          </a>
          <a class="item">
            <i class="exchange outline icon"></i>
            Storylines
          </a>
          <a class="item">
            <i class="users outline icon"></i>
            People
          </a>
          <div class="ui icon large input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
