<div class="row ui segment">
  <footer class="ui vertical footer segment">
    <div class="ui container">
      <!-- <div class="ui stackable divided grid"> -->
        <h4 class="ui header">Contact us</h4>
        <p>Take Two is written by William and Robin Butler, serving with
          <a href="https://pioneerbible.org">Pioneer Bible Translators</a> in Papua New Guinea.</p>
        <h4 class="ui header">Want to help?</h4>
        <div class="ui center aligned list">
          <a href="https://pioneerbible.org/give/WilliamandRobinButler" class="item">
            <i class="credit card alternative icon"></i>
            <div class="content">
              <div class="header">Credit/debit card</div>
            </div>
          </a>
          <a href="https://pioneerbible.org/give/WilliamandRobinButler" class="item">
            <i class="building outline icon"></i>
            <div class="content">
              <div class="header">Electronic funds transfer</div>
            </div>
          </a>
        </div>
      <!-- </div> -->
      <div class="ui section divider"></div>
      <img src="assets/images/logo.png" class="ui centered mini image">
      <div class="ui horizontal small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
  </footer>
  <p>&copy; {{ .Site.Title }}. All rights reserved.</p>

  <p>
    To contact us, or to change or to remove your address from this list, write to wbutler@pioneerbible.org.pg. To partner financially
    in our ministry, checks payable to Pioneer Bible Translators may be sent to our forwarding agents Gary and Barbara True,
    702 Creel Ave., Louisville, KY 40208. If you're interested in giving by credit/debit card or electronic funds transfer,
    you can do so at or you can contact us for details.
  </p>
  </footer>
</div>
